{% load static %}
{% load i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="manifest" href="{% static 'main/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


    <script src="{% static 'main/js/main.js' %}"></script>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include 'components/header.html' %}
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script> -->
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AAAAOA7jKmg:APA91bEj1rcsr02jEVQVBpQBmCIlLGfQjMEBDYt0oy1OF-e4hDXO2bEKYTj-T9b7xvfdZ6hi81o5vx1GQZXaiksgUfh6XlJeszhrNpWxqWaLyinF2eRRPNR2yyPl8zphV2SOGuyLXThh",
        authDomain: "wftbox-stage.firebaseapp.com",
        databaseURL: "https://wftbox-stage.firebaseio.com",
        projectId: "wftbox-stage",
        storageBucket: "wftbox-stage.appspot.com",
        messagingSenderId: "240767937128"
      };
      firebase.initializeApp(config);

      // [START get_messaging_object]
      // Retrieve Firebase Messaging object.
      const messaging = firebase.messaging();
      // [END get_messaging_object]
      // IDs of divs that display Instance ID token UI or request permission UI.
      const tokenDivId = 'token_div';
      const permissionDivId = 'permission_div';
      // [START refresh_token]
      // Callback fired if Instance ID token is updated.
      messaging.onTokenRefresh(function() {
        messaging.getToken()
        .then(function(refreshedToken) {
          console.log('Token refreshed.');
          // Indicate that the new Instance ID token has not yet been sent to the
          // app server.
          setTokenSentToServer(false);
          // Send Instance ID token to app server.
          sendTokenToServer(refreshedToken);
          // [START_EXCLUDE]
          // Display new Instance ID token and clear UI of all previous messages.
          resetUI();
          // [END_EXCLUDE]
        })
        .catch(function(err) {
          console.log('Unable to retrieve refreshed token ', err);
          showToken('Unable to retrieve refreshed token ', err);
        });
      });
      // [END refresh_token]
      // [START receive_message]
      // Handle incoming messages. Called when:
      // - a message is received while the app has focus
      // - the user clicks on an app notification created by a sevice worker
      //   `messaging.setBackgroundMessageHandler` handler.
      messaging.onMessage(function(payload) {
        console.log("Message received. ", payload);
        // [START_EXCLUDE]
        // Update the UI to include the received message.
        appendMessage(payload);
        // [END_EXCLUDE]
      });
      // [END receive_message]
      function resetUI() {
        clearMessages();
        showToken('loading...');
        // [START get_token]
        // Get Instance ID token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        messaging.getToken()
        .then(function(currentToken) {
          if (currentToken) {
            sendTokenToServer(currentToken);
            updateUIForPushEnabled(currentToken);
          } else {
            // Show permission request.
            console.log('No Instance ID token available. Request permission to generate one.');
            // Show permission UI.
            updateUIForPushPermissionRequired();
            setTokenSentToServer(false);
          }
        })
        .catch(function(err) {
          console.log('An error occurred while retrieving token. ', err);
          showToken('Error retrieving Instance ID token. ', err);
          setTokenSentToServer(false);
        });
      }
      // [END get_token]
      function showToken(currentToken) {
        // Show token in console and UI.
        var tokenElement = document.querySelector('#token');
        tokenElement.textContent = currentToken;
      }
      // Send the Instance ID token your application server, so that it can:
      // - send messages back to this app
      // - subscribe/unsubscribe the token from topics
      function sendTokenToServer(currentToken) {
        if (!isTokenSentToServer()) {
          console.log('Sending token to server...');
          console.log(messaging);
          $.ajax({
            type: "POST",
            url: "{% url 'main:register_device' %}",
            data: {
              'token': currentToken // from form
            },
            success: function(){
              console.log('Token set in server :D');
            }
          });
          setTokenSentToServer(true);
        } else {
          console.log('Token already sent to server so won\'t send it again ' +
              'unless it changes');
        }
      }
      function isTokenSentToServer() {
        return window.localStorage.getItem('sentToServer') == 1;
      }
      function setTokenSentToServer(sent) {
        window.localStorage.setItem('sentToServer', sent ? 1 : 0);
      }
      function showHideDiv(divId, show) {
        const div = document.querySelector('#' + divId);
        if (show) {
          div.style = "display: visible";
        } else {
          div.style = "display: none";
        }
      }
      function requestPermission() {
        console.log('Requesting permission...');
        // [START request_permission]
        messaging.requestPermission()
        .then(function() {
          console.log('Notification permission granted.');
          // TODO(developer): Retrieve an Instance ID token for use with FCM.
          // [START_EXCLUDE]
          // In many cases once an app has been granted notification permission, it
          // should update its UI reflecting this.
          resetUI();
          // [END_EXCLUDE]
        })
        .catch(function(err) {
          console.log('Unable to get permission to notify.', err);
        });
        // [END request_permission]
      }
      function deleteToken() {
        // Delete Instance ID token.
        // [START delete_token]
        messaging.getToken()
        .then(function(currentToken) {
          messaging.deleteToken(currentToken)
          .then(function() {
            console.log('Token deleted.');
            $.ajax({
              type: "POST",
              url: "{% url 'main:delete_device' %}",
              data: {
                'token': currentToken // from form
              },
              success: function(){
                console.log('Token set in server :D');
              }
            });


            setTokenSentToServer(false);
            // [START_EXCLUDE]
            // Once token is deleted update UI.
            resetUI();
            // [END_EXCLUDE]
          })
          .catch(function(err) {
            console.log('Unable to delete token. ', err);
          });
          // [END delete_token]
        })
        .catch(function(err) {
          console.log('Error retrieving Instance ID token. ', err);
          showToken('Error retrieving Instance ID token. ', err);
        });
      }
      // Add a message to the messages element.
      function appendMessage(payload) {
        const messagesElement = document.querySelector('#messages');
        const dataHeaderELement = document.createElement('h5');
        const dataElement = document.createElement('pre');
        dataElement.style = 'overflow-x:hidden;'
        dataHeaderELement.textContent = 'Received message:';
        dataElement.textContent = JSON.stringify(payload, null, 2);
        messagesElement.appendChild(dataHeaderELement);
        messagesElement.appendChild(dataElement);
      }
      // Clear the messages element of all children.
      function clearMessages() {
        const messagesElement = document.querySelector('#messages');
        while (messagesElement.hasChildNodes()) {
          messagesElement.removeChild(messagesElement.lastChild);
        }
      }
      function updateUIForPushEnabled(currentToken) {
        showHideDiv(tokenDivId, true);
        showHideDiv(permissionDivId, false);
        showToken(currentToken);
      }
      function updateUIForPushPermissionRequired() {
        showHideDiv(tokenDivId, false);
        showHideDiv(permissionDivId, true);
      }
      navigator.serviceWorker.register("{% static 'main/js/firebase-messaging-sw.js' %}")
      .then((registration) => {
        messaging.useServiceWorker(registration);
        resetUI();
      });
    </script>
    <footer>
      &copy; {% now "Y" %} neax
    </footer>

  </body>
</html>
